/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

/* header */
#logo {
    max-width: 2500px;
    background-color: #FFFFFF;
}
#logo img {
   padding: 10px 5px 10px 20px;
   vertical-align: middle;
}
#logo h1 {
    vertical-align: middle;
    display: inline-block;
    font-size: 45px;
}

/* container */
.container {
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 70%;
    margin: 80px auto 10px ;
}
.navbottons {
    padding-left: 60px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #F6F8F9 ;
}
#addtask {
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
}
#addselection {
    background-color: #FFFFFF;
    color: #C5CBD0;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #C5CBD0;
    border-radius: 5px;
}

/* entity style */
.greencheck {
    color: #64C0A8;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #64C0A8 ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.redcheck {
    color: #E9453A;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #E9453A ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

/* list style */
.list {
    padding: 20px 50px;
}
main>h2 {
    font-size: 1.1em;
    font-weight:800;
}
ul {
    list-style-type: none;
    padding-top: 10px;
}
li p {
    font-size: 1.1em;
    display: inline-block;
    padding: 15px;
    font-weight: 500;
}

/* elements style */

.elementtype {
    padding: 10px 20px;
    border-radius: 15px;   
}
.whitetext {
    color: #FFFFFF;
}

.bgblue {
    background-color: #45ABE9;
    border: 1px solid #45ABE9;
}

.bggreen {
    background-color: #64C0A8;
}

.bgorange {
    background-color: #F29E33;
}

.bgpurple {
    background-color: #9C72E4;
}

.bgpink {
    background-color: #D863A0;
}

.bglightgreen {
    background-color: #B0C926;
}
